<p-card styleClass="user-form" class="flex justify-content-center">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div>
      <label>Item</label>
      <input pInputText type="text" formControlName="item" placeholder="ex: ijs">
    </div>
    <div>
      <label>Category:</label>
      <input pInputText type="text" formControlName="category" placeholder="ex: dessert">
    </div>
    <div>
      <label>Type:</label>
      <input pInputText type="text" formControlName="type" placeholder="ex: vanille">
    </div>
    <div>
      <label>Quantity </label>
      <input pInputText type="number" formControlName="quantity" placeholder="ex: number of items">
    </div>
    <div>
      <label>Weight:</label>
      <input pInputText type="text" formControlName="weight" placeholder="ex: dessert">
    </div>
    <div>
      <label>Expiry date:</label>
      <p-calendar formControlName="expiryDate"></p-calendar>
    </div>
    <div>
      <label>Frozen date: </label>
      <p-calendar formControlName="frozenDate"></p-calendar>
    </div>
    <div>
      <label>Max months:</label>
      <input pInputText type="number" formControlName="maxMonths" placeholder="ex: dessert">
    </div>
    <div>
      <label>Comments:</label>
      <textarea rows="5" cols="30" pInputTextarea type="text" formControlName="comment">
      </textarea>
    </div>
    <button pButton pRipple type="submit">Send</button>
<!--    TODO: clear form button-->
  </form>
  <p>Form value: {{ form.value | json }}</p>
  <p>Form status: {{ form.status | json }}</p>
</p-card>
